# Dependencies
node_modules/

# Build outputs
.dist/
dist/
build/
coverage/
.cache/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor & tooling
.vscode/
.DS_Store
Thumbs.db

# Hosting/platform
.vercel/
.netlify/

# Misc
*.tmp
